[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-mock = "*"
flake8 = "*"

[packages]
pyglet = "*"
numpy = "*"
imageio = "*"

[requires]
python_version = "3"

[scripts]
lint = "python -m flake8 vidar tests"
test = "python -m pytest"
